body {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 500px;
  text-align: center;
}

#info-box,
#todo-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  height: 70%;
  margin: 10px;
  padding-block: 20px;
}

#info-box {
  float: left;
}

#todo-box {
  float: right;
}
